/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cairo-Regular;
}

:root {
    --primary-color: #00A1DA;
    --secondary-color: #FED118;
}

@font-face {
    font-family: Cairo-Regular;
    src: url(../Assets/fonts/Cairo-Regular.ttf);
}

@font-face {
    font-family: Cairo-Bold;
    src: url(../Assets/fonts/Cairo-Bold.ttf);
}

@font-face {
    font-family: Cairo-Black;
    src: url(../Assets/fonts/Cairo-Black.ttf);
}

/* Header */
header {
    background: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 5;
}

header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}

header nav .logo img {
    width: 150px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links li {
    display: inline-block;
}

.nav-links li a {
    color: #000;
    text-decoration: none;
    font-size: 20px;
    font-family: Cairo-Bold;
}

.nav-links li a:hover {
    color: var(--primary-color);
    border-bottom: solid 2px var(--secondary-color);
    transition: 0.5s ease;
}

.nav-btn {
    display: flex;
    gap: 10px;
}

.partenaire-btn, .suscrib-btn {
    padding: 5px 20px;
    font-family: Cairo-Bold;
    text-decoration: none;
    color: #000;
    text-align: center;
    font-size: 18px;
    border-radius: 10px;
}

.partenaire-btn {
    background-color: var(--primary-color);
}

.partenaire-btn:hover {
    background-color: transparent;
    border: solid 3px var(--primary-color);
    transition: 0.6s;
}

.suscrib-btn {
    background-color: var(--secondary-color);
}

.suscrib-btn:hover {
    background-color: transparent;
    border: solid 3px var(--secondary-color);
    transition: 0.6s;
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.hamburger .bar {
    width: 25px;
    height: 3px;
    background-color: #000;
    margin: 4px 0;
    transition: 0.4s;
}

/* Home Section */
#home {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    padding: 20px;
    height: 100%;
}

.banner-img img {
    width: 100%;
    height: 90%;
    border-radius: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
    animation: coming1 linear 1s;
    animation-direction: alternate;
}

.banner-text h1 {
    font-family: Cairo-Bold;
    font-size: 65px;
    color: var(--primary-color);
}

.banner-text p {
    font-family: Cairo-Regular;
    font-size: 35px;
    color: #000;
}

.banner-text p span {
    font-family: Cairo-Black;
    font-size: 45px;
    color: var(--primary-color);
}

.banner-text a {
    padding: 5px 20px;
    font-family: Cairo-Bold;
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
    text-align: center;
    border-radius: 10px;
    width: 15%;
    background-color: var(--secondary-color);
}

/* About Section */
#abouts {
    padding: 5px 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 20px;
    height: auto;
    align-items: center;
}

#abouts h2 {
    border-bottom: solid 3px var(--secondary-color);
}

.abouts-containt {
    width: 90%;
    /* height: 100%; */
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
}

.abouts-first-div {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.abouts-first-div div {
    background-color: transparent;
    -webkit-backdrop-filter: blur(30%);
    backdrop-filter: blur(30%);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
    color: #000000;
    padding: 20px;
    border-radius: 15px;
}

.abouts-second-div{
    height: 70%;
}

.learn-btn {
    padding: 5px 15px;
    text-decoration: none;
    color: var(--secondary-color);
    font-family: Cairo-Bold;
    border-radius: 10px;
    border: solid 3px var(--secondary-color);
}

.abouts-second-div img {
    width: 100%;
    height: 50%;
    border-radius: 10px;
}

/* Contact Section */
#contact {
    padding: 5px 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    gap: 20px;
    align-items: center;
    background-color: var(--primary-color);
}

.form-data {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.form-data form {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.input-div {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 10px;
}

.form-data form input, .form-data form textarea {
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
    border: solid 3px #ccc;
    width: 80%;
}

.form-data form input:focus, .form-data form textarea:focus {
    outline: none;
    border: solid 3px var(--secondary-color);
}

.form-btn {
    padding: 10px 20px;
    text-decoration: none;
    color: #ffffff;
    font-family: Cairo-Bold;
    border-radius: 10px;
    border: none !important;
    cursor: pointer;
    width: 100%;
    background-color: var(--secondary-color);
}

.form-btn:hover {
    background-color: transparent;
    border: solid 3px var(--secondary-color) !important;
    transition: 0.6s;
}

/* Footer */
footer {
    background-color: var(--primary-color);
    color: #fff;
    padding: 40px 20px;
    text-align: center;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.footer-section {
    width: 48%;
    text-align: left;
}

#backToTopBtn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: var(--primary-color);
    color: #FFF;
    border: none;
    font-size: 15px;
    font-weight: bold;
    padding: 10px 15px;
    border: solid 2px var(--secondary-color);
    border-radius: 50%;
    cursor: pointer;
    display: none;
}

#backToTopBtn:hover {
    background-color: var(--secondary-color);

}

/* Responsive */
@media (max-width: 768px) {
    .hamburger {
        display: flex;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 0;
        background-color: white;
        width: 100%;
        text-align: center;
    }

    .nav-btn {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    

    .nav-links.active{
        display: flex;
    }

    /* .nav-btn.active {
        display:flex;

    } */

    .abouts-containt {
        grid-template-columns: 1fr;
    }

    .banner-text h1 {
        font-size: 48px;
    }

    .banner-text p {
        font-size: 24px;
    }

    .banner-text a {
        width: 30%;
    }

    #home{
        display: grid;
        grid-template-columns: 1fr;
        gap: 10px;
        padding: 20px;
        height: 90%;
    }
}